/* General Refactoring */
.bio-h2, .publications-h2, .training-h2, .contact-h2, .pubs-title, .training-h4, .training-h5 {
  font-family: 'Nunito', serif;
}

.bio-p, .publications-h6, .contact-h6, .pubs-text, .training-p, .txt-form {
  font-family: 'PT Sans', sans-serif;
}

.bio-section, .training-section, .contact-section {
  padding: 3%;
}

.bio-h2, .publications-h2, .training-h2, .contact-h2 {
  font-weight: 400;
  color: #6C7A65;
}

.bio-p, .publications-h6, .contact-h6, .training-p {
  line-height: 175%;
}

.publications-h6, .contact-h6 {
  padding-bottom: 3%;
}

/* Title Section */
.title-h1, .title-h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 900;
  color: #fff;
}

.title-h3 {
  font-weight: 700;
}

.stylise-nav-links, .stylise-nav {
  font-family: 'Scope One', serif;
}

.web-dots {
  width: 20%;
  border-top: 5px dotted;
  background-color: transparent;
  margin: 2% auto;
}

/* Publications Section */
.publications-section {
  padding: 3% 3% 4%;
}

.pubs-title {
  font-weight: 300;
}

.publications-h2 {
  text-align: center;
}

.pubs-text {
  font-size: 14px;
}

/* Training Section */
.training-h2 {
  text-align: center;
  padding-bottom: 3%;
}

.training-h5 {
  font-weight: 400;
}

.training-p {
  font-size: 18px;
}

.style-btn {
  padding: 2px 4px 2px 0;
  font-size: 17px;
}

.style-btn-thesis {
  padding: 2px;
  font-size: 17px;
}

/* Footer Section */
.footer-section {
  text-align: center;
  margin-top: 25px;
  padding: 1.5% 15%;
  color: #fff;
  background-color: #6C7A65;
  font-family: 'PT Sans', sans-serif;
}

.footer-link {
  color: #fff;
}

/* fix weird responsive displays */
@media only screen and (min-width: 586px) and (max-width: 767px) {
  .bio-img {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .bio-img {
    width: 75%;
    margin-left: 90px;
  }

  .publications-section, .training-section, .contact-section {
    padding: 0 15% 3%;
  }

  .publications-h6 {
    text-align: center;
    padding-bottom: 3%;
  }

  .web-dots {
    width: 7%;
    border-top: 5px dotted;
    background-color: transparent;
    margin: 0 auto 2%;
  }
}
